.App {
  text-align: center;
  background-image: linear-gradient(220deg,#231d4b,#5064fb, #ba3fd9);
  width: 100%;
}

.cosmos{
  height: 76px;
  width: 256px;
}
.App-Header {
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  display: flex;
}
.coin-search{
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid white;
}
.coin-input{
  background-image: linear-gradient(90deg,#6612b4, #ba3fd9);
  border: 2px solid white;
  color: white;
}


.App-Body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coin-container{
  width: 100%;
  display: flex;
  max-width: 66vw;
}

.headings{
  text-align: right;
  
}
.symbol{
  padding-right: 5px!important;
}


i{
  padding: 4px;
  cursor: pointer;
}
i:hover{
  color: #ba3fd9;
}
.name{
  text-align: center!important;
}
.price{
  padding: 40px!important;
}

.perc{
  margin-left: 2vw!important;
}

.mcap{
  margin-left: 2vw!;
}




